.our-pets {
  background: $color-light-l;
}

.our-pets__title {
  padding-bottom: 60px;
  width: 400px;
  margin: 0 auto;
  text-align: center;

  @include media-mobile {
    width: 100%;
    padding-bottom: 40px;
  }
}

.our-pets__button-container {
  padding-top: 60px;
  padding-right: 8px;
  text-align: center;

  @include media-mobile {
    padding-top: 43px;
  }
}

.our-pets-columns {
  @include media-mobile {
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    padding: 0 15px;
  }
}
