@mixin font($size, $height: 100%, $style: normal, $weight: 400) {
  font-size: $size;
  line-height: $height;
  font-style: $style;
  font-weight: $weight;
}

@mixin media-laptop {
  @media screen and (max-width: 1279px) {
    @content;
  }
}

@mixin media-mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}
