.wrapper {
  padding-left: 40px;
  padding-right: 40px;
  max-width: $content-width;
  width: 100%;
  margin: 0 auto;

  @include media-laptop {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include media-mobile {
    padding-left: 10px;
    padding-right: 10px;
  }
}
